{% extends "users/loggedin.html" %} {% load staticfiles %}

<link rel="stylesheet" href='{% static "/css/style.css" %}'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

<span vocab="http://schema.org/" typeof="Offer">

{% block header %}
<header id="portfolio">
    <a onclick="w3_open()"><img src="{% static 'img/user_icon.png' %}" style="width:50px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
        <div class="w3-col" style="width: 70px; margin-top: 20px">
            <img src="{% static 'img/logo.png' %}" width="75" style="margin-top: -10px">
        </div>
        <h1><b>PushEat</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16 w3-border-light-green" style="border-color: lightgreen">
            <a href = "/users/mybids" class="w3-button w3-white w3-hide-small"><i class="far fa-money-bill-alt w3-margin-right"></i>My bids</a>
            <a href="/users/add_auctions" class="w3-button w3-gray w3-hide-small"><i class="fas fa-gavel w3-margin-right"></i>My auctions</a>
            <a href="/users/users_list" class="w3-button w3-white w3-hide-small"><i class="fas fa-users w3-margin-right"></i>Users</a>
            <a href = "/users/user_auctions" class="w3-button w3-white w3-hide-small"><i class="fas fa-utensils  w3-margin-right"></i>Last Auctions</a>
            <a href="/users/add_food" class="w3-button w3-white w3-hide-small"><i class="fas fa-lemon w3-margin-right"></i>Foods</a>
            <a href="/users/api" class="w3-button w3-white w3-hide-small"><i class="fas fa-puzzle-piece w3-margin-right"></i>FatSecret</a>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}

    <div class="w3-container w3-padding-large" style="margin-bottom:32px">
        <h5> Here you can manage your auctions. You can create your auctions based on a food.</h5>
        <hr>
        {% for auction in auctions %}
            <div class="w3-col 6 m3 w3-margin">
                <div class="w3-card-4" style="border-radius: 4px">
                    <header class="w3-container" style="background-color: #baee97; border-radius: 4px">
                        <h3 id="type" class="w3-title w3-text-dark-gray"><b>{{ auction.food.type }}</b></h3>
                        <span property="additionalType">{{ auction.food.type }}</span>
                    </header>
                    <div id="auctionInfo" class="w3-container w3-white" style="border-radius: 4px">
                        <h6 class="w3-text-dark-gray"><b> Food:  {{ auction.food.name }}</b></h6>
                        <span property="name">{{ auction.food.name }}</span>
                        <h6 class="w3-text-dark-gray"><b> Description:  {{ auction.description}}</b></h6>
                        <span typeof="Person" property="offeredBy">{{ auction.owner.first_name }}</span>
                        <h6 class="w3-text-dark-gray"><b> Initial Price:  {{ auction.start_price }}€</b></h6>
                        <span property="price">{{ auction.start_price }}</span>
                        <h6 class="w3-text-dark-gray"><b> Actual Price:  {{ auction.actual_price }}€</b></h6>
                        <span property="price">{{ auction.actual_price }}</span>
                        <h6 class="w3-text-dark-gray"><b> Expiration Time:  {{ auction.available_time }}<p id="demo"></p></b></h6>
                        <a id="del" class="btn-red w3-right w3-padding w3-margin" href="/users/del_auction/{{ auction.pk }}"><i class="fas fa-trash" style="margin-bottom: -10px;"></i> Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="id01" class="modal" style="z-index: 100">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

      <!-- Modal Content -->
      <form class="modal-content animate" action="/users/new_auction/" method="POST"> {% csrf_token %}
        <div class="imgcontainer">
          <img class="w3-padding w3-margin" src="{% static 'img/logo.png' %}" alt="">
        </div>

        <div class="container">
            <label for="food"><i class="fa fa-lemon"></i><b> Food</b></label>
            <input type="text" placeholder="Enter Food" id="food" name="food" required style="width: 100%">
            <span property="name">{{ auction.food.name }}</span>
            <br>
            <label for="price"><i class="fa fa-dollar"></i><b> Start Price</b></label>
            <input type="number" placeholder="Enter Starting Price $" id="price" name="price" required style="width: 100%">
            <span property="price">{{ auction.start_price }}</span>
            <label for="desc"><i class="fa fa-comment"></i><b> Description</b></label>
            <input type="text" placeholder="Short description of the product" id="desc" name="desc" required style="width: 100%">
            <label for="desc"><i class="fa fa-clock"></i><b> Expiration time</b></label>
            <span property="itemCondition">{{ auction.start_price }}</span>
            <input type="time" placeholder="Expiration time" id="time" name="time" required style="width: 100%">
            <span property="availabilityEnds">{{ auction.start_price }}</span>
            <button class="myButton" type="submit">
                Add Offer <i class="fas fa-angle-right"></i>
            </button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>

      </form>
    </div>


    <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>

    <script>
    function getCountDown() {
        alert("called!");
        var m = new Date();
        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        m = months[m.getMonth()];

        var d = new Date();
        var d = d.getDate();

        var date = m.concat(" " + d);
        var year = ", 2018 {{ auction.available_time }}";

        var full_date = date.concat(year).concat(" ").concat(arguments[0]);

        alert(full_date);

        // Set the date we're counting down to
        var countDownDate = new Date(full_date).getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now an the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000);
    }
    </script>

{% endblock %}