{% extends "users/loggedin.html" %} {% load staticfiles %}
<link rel="stylesheet" href='{% static "/css/style.css" %}'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">


{% block header %}
<header id="portfolio">
    <a onclick="w3_open()"><img src="{% static 'img/user_icon.png' %}" style="width:50px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
        <div class="w3-col" style="width: 70px; margin-top: 20px">
            <img src="{% static 'img/logo.png' %}" width="75" style="margin-top: -10px">
        </div>
        <h1><b>PushEat</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16 w3-border-light-green" style="border-color: lightgreen">
            <a href = "/users/mybids" class="w3-button w3-gray w3-hide-small"><i class="far fa-money-bill-alt w3-margin-right"></i>My bids</a>
            <a href="/users/add_auctions" class="w3-button w3-white w3-hide-small"><i class="fas fa-gavel w3-margin-right"></i>My auctions</a>
            <a href="/users/users_list" class="w3-button w3-white w3-hide-small"><i class="fas fa-users w3-margin-right"></i>Users</a>
            <a id="auctions"  href = "/users/user_auctions" class="w3-button w3-white w3-hide-small"><i class="fas fa-utensils  w3-margin-right"></i>Last Auctions</a>
            <a id="btn-food" href="/users/add_food" class="w3-button w3-white w3-hide-small"><i class="fas fa-lemon w3-margin-right"></i>Foods</a>
            <a href="/users/api" class="w3-button w3-white w3-hide-small"><i class="fas fa-puzzle-piece w3-margin-right"></i>FatSecret</a>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}

    <span vocab="http://schema.org/" typeof="Offer">

    <div class="w3-container w3-padding-large" style="margin-bottom:32px">
        <h5> Here you can see and create your bids. </h5>
        <button class="golink" type="submit" onclick= "window.location.href='/users/user_auctions/'"><i class="fas fa-plus"></i> See last auctions and bid for it</button>
        <hr>
        {% for bid in bids %}
            <div class="w3-col 6 m3 w3-margin">
                <div class="w3-card-4" style="border-radius: 4px">
                    <header class="w3-container" style="background-color: #baee97; border-radius: 4px">
                        <h3 class="w3-title w3-text-dark-gray"><b>{{ bid.offer.food.type}}</b></h3>
                             <span property="additionalType">{{ bid.offer.food.type}}</span>
                    </header>
                    <div id="bidInfo" class="w3-container w3-white" style="border-radius: 4px">
                        <h6 class="w3-text-dark-gray"><b> Last Auctioner:  {{ bid.bidder }}</b></h6>
                        <span typeof="Person" property="OfferedBy">{{ bid.bidder}}</span>
                        <h6 class="w3-text-dark-gray"><b> Auction FoodOffer:  {{ bid.offer.food.name}}</b></h6>
                        <span property="name">{{ bid.offer.food.name}}</span>
                        <h6 class="w3-text-dark-gray"><b> Your bid amount:  {{ bid.amount }}€</b></h6>
                        <span property="eligibleQuantity">{{ bid.amount}}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</span>
{% endblock %}