
<div class="w3-panel w3-leftbar w3-padding w3-border-green w3-container">
        <h2><i class="fa fa-newspaper"></i> Bid on: {{ Bid. }}</h2>
        <form method="POST"> {% csrf_token %}
            <label style="margin-left: 35px"><i class="fa fa-exclamation"></i> FoodOffer</label>
            {% for food in foods %}
            {% endfor %}
            <div class="w3-margin w3-padding" style="width: 67%">
                <label><i class="fa fa-comment-alt"></i> Amount</label>
                <input class="w3-input w3-border w3-padding" type="number" name="amount" required>
            </div>
            <button class="w3-button w3-green w3-round-large" style="margin-left: 35px">Assign
                <i class="fa fa-angle-right"></i>
            </button>
        </form>
</div>