{% load static %}

<!DOCTYPE html>
<html>
<title>{% block profileTitle %} PushEat {% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<link rel="stylesheet" href='{% static "/css/style.css" %}'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Sidebar/menu -->
{% block profileNavbar %}
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-padding w3-hover-grey" title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <img class="w3-padding w3-center" src="{% static 'img/user_icon.png' %}" alt="" style="width: 100px"><br>
        <h4><b>{{ full_name }}</b></h4>
        <h4><b>{{ name }}</b></h4>
        <p class="w3-text-grey">PushEat generic account.</p>
    </div>
    <div class="w3-bar-block">
        <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PORTFOLIO</a>
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a>
    </div>
    <div class="w3-panel w3-large">
        <i class="fab fa-facebook-square w3-hover-opacity"></i>
        <i class="fab fa-instagram w3-hover-opacity"></i>
        <i class="fab fa-snapchat w3-hover-opacity"></i>
        <i class="fab fa-pinterest-p w3-hover-opacity"></i>
        <i class="fab fa-twitter w3-hover-opacity"></i>
        <i class="fab fa-linkedin w3-hover-opacity"></i>
    </div>

    <p class="w3-center">Click <a href="/users/login">here</a> to logout</p>

</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
{% endblock %}
<!-- !PAGE CONTENT! -->
{% block profileContent %}
<div class="w3-main" style="margin-left:300px">
{% endblock %}
    <!-- Header -->
    {% block header %}
    <header id="portfolio">
        <a onclick="w3_open()"><img src="{% static 'img/user_icon.png' %}" style="width:50px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-container">
            <div class="w3-col" style="width: 70px; margin-top: 20px">
                <img src="{% static 'img/logo.png' %}" width="75" style="margin-top: -10px">
            </div>
            <h1><b>PushEat</b></h1>
            <div class="w3-section w3-bottombar w3-padding-16 w3-border-light-green" style="border-color: lightgreen">
                <span class="w3-margin-right">Filter:</span>
                <button sclass="w3-button" style="background-color: lightgray" ><i class="fas fa-utensils  w3-margin-right"></i>My bids</button>
                <button class="w3-button w3-white w3-hide-small"><i class="fas fa-gavel w3-margin-right"></i>My auctions</button>
                <button class="w3-button w3-white w3-hide-small"><i class="fas fa-users w3-margin-right"></i>Users</button>

                <a href = "/users/add_bids" class="w3-button" style="background-color: lightgray"><i class="fas fa-utensils  w3-margin-right"></i>My bids</a>
                <a href="/users/add_auctions" class="w3-button w3-white w3-hide-small"><i class="fas fa-gavel w3-margin-right"></i>My auctions</a>
                <a class="w3-button w3-white w3-hide-small"><i class="fas fa-users w3-margin-right"></i>Users</a>

            </div>
        </div>
    </header>
    {% endblock %}

    {% block body %}
    <div class="w3-container w3-padding-large" style="margin-bottom:32px">
        <h2>Hi {{ full_name }} you are now logged in!</h2>
        <hr>
    </div>
    {% endblock %}


    <div class="w3-center w3-padding-24" style="background-color: lightgray">Powered by <a href="https://github.com/PushEat/PushEat" title="W3.CSS" target="_blank" class="w3-hover-opacity">PushEat developers team <i class="fab fa-github"></i></a></div>

<!-- End page content -->
</div>

{% block scripts %}
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>
{% endblock %}

</body>
</html>