{% extends "users/loggedin.html" %} {% load staticfiles %}
<link rel="stylesheet" href='{% static "/css/style.css" %}'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

{% block header %}
<header id="portfolio">
    <a onclick="w3_open()"><img src="{% static 'img/user_icon.png' %}" style="width:50px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
        <div class="w3-col" style="width: 70px; margin-top: 20px">
            <img src="{% static 'img/logo.png' %}" width="75" style="margin-top: -10px">
        </div>
        <h1><b>PushEat</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16 w3-border-light-green" style="border-color: lightgreen">
            <a href = "/users/mybids" class="w3-button" style="background-color: white"><i class="far fa-money-bill-alt w3-margin-right"></i>My bids</a>
            <a href="/users/add_auctions" class="w3-button w3-white w3-hide-small"><i class="fas fa-gavel w3-margin-right"></i>My auctions</a>
            <a class="w3-button w3-white w3-hide-small"><i class="fas fa-users w3-margin-right"></i>Users</a>
            <a href = "/users/user_auctions" class="w3-button" style="background-color: lightgray"><i class="fas fa-utensils  w3-margin-right"></i>Last Auctions</a>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}
        <div class="w3-container w3-padding-large" style="margin-bottom:32px">
            <h5 class="w3-text-gray"><b>Here you can see some of the lasts auctions.</b></h5>
        </div>

        {% for auction in auctions %}
            <div class="w3-col 6 m4 w3-margin">
                <div class="w3-card-4" style="border-radius: 4px">
                    <header class="w3-container w3-small" style="background-color: #baee97 ; border-radius: 4px">
                        <h3 class="w3-title w3-text-dark-gray"><b>{{ auction.food.type }}</b></h3>
                    </header>
                    <div class="w3-container w3-white" style="border-radius: 4px">
                        <h6 class="w3-text-dark-gray"><b> Food: {{ auction.food.name }}</b></h6>
                        <h6 class="w3-text-dark-gray"><b> Auctioneer: {{ auction.owner.first_name }}</b></h6>
                        <h6 class="w3-text-dark-gray"><b> Initial Price: {{ auction.start_price }}€</b></h6>
                        <h6 class="w3-text-dark-gray"><b> Actual Price: {{ auction.actual_price }}€</b></h6>
                        <button class="w3-right" onclick="document.getElementById('id01').style.display='block'">Push <i class="fas fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        {% endfor %}

{% endblock %}

