{% extends "base/leftBar.html" %} {% load staticfiles %}

{% block header %}

 <h2>Sign up</h2>
  <form method="post">
    <div class="w3-center w3-col" style="margin-left: 20%; margin-top: 5%; background-color: lightgrey; width: 250px; border-radius: 10px">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
     <button class="w3-margin w3-button w3-hover-green" type="submit" style="margin-top: 20px; background-color: #8fd08d; border-radius: 10px">
        <label class="w3-text-gray"><i class="fas fa-user-plus"></i> Sign Up</label>
    </button>
    </div>
  </form>

{% endblock %}